.contact-custom {
    margin-top: 100px;
    margin-bottom: 80px;
    letter-spacing: 10px;
}

.top-contact-row {
    margin-top: 40px;
}

.contact-row-custom {
    padding: 10px 20px;
}

.contact-input-custom {
    padding-top: 2px;
}

.custom-form-ctrl {
    height: 180px;
}

.last-custom-row {
    margin-bottom: 11vh;
}

.custom-button-size {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}