* {
    font-family: "Roboto", "Futura";
}

.main-home-link {
    margin-right: 20px;
}

.navbar {
    background-color: rgba(245, 245, 245, 0);
    color: aliceblue;
    height: 80px;
    transition: all ease .5s;
}

#nav-control.shrink {
    background-color: whitesmoke;
    transition: all ease .5s;
    height: 60px;
}

#nav-control-alt.shrink {
    background-color: whitesmoke;
    transition: all ease .1s;
    height: 60px;
}

.navbar-brand:hover {
    background-color: rgba(228, 230, 236, 0.4);
}

@media (min-width: 1050px) {
    .navbar {
        padding-right: 15vw;
        padding-left: 15vw;
    }
}