* {
    font-family: "Roboto", "Futura";
}

body {
    margin: 0px;
}

.software-detail-container {
    background-color: rgb(23.9, 24.3, 40.8);
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
    justify-content: center;
}

.other-detail-container {
    background-color: aliceblue;
    padding-top: 40px;
    padding-bottom: 40px;
}

.software-title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: aliceblue;
    text-transform: uppercase;
    letter-spacing: 6px;
    display: block;
}

#other-custom {
    color: rgb(23.9, 24.3, 40.8);
}

.card-body {
    background-color: rgb(23.9, 24.3, 40.8);
    color: aliceblue;
    display: block;
}

#games-card-body {
    background-color: aliceblue;
    color: rgb(23.9, 24.3, 40.8);
}

#software-detail-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

#center-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 110px;
}

.card-link, .card-link:active, card-link:visited {
    color: aliceblue;
}

.card-link:hover {
    color: rgb(63.9, 63.9, 70.6);
}

.card-title {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.4em;
}
