.footer-container {
    background-color: rgb(94, 94, 112);
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 20px;
}

#footer-container-custom {
    justify-content: center;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.icon-custom {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-text {
    text-align: center;
    color: aliceblue;
    font-size: 0.9em;
    line-height: 20px;
}

.footer-menu {
    text-align: center;
}

.footer-menu-container {
    margin-top: 30px;
}

.footer-menu-text, .footer-menu-text:active, .footer-menu-text:visited {
    color: rgb(23.9, 24.3, 40.8);
    text-decoration: none;
}

.footer-menu-text:hover {
    color: aliceblue;
    text-decoration: none;
}

@media (min-width: 992px) {
    .footer-menu-container {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 550px) {
    #footer-container-custom {
        width: 500px;
    }
}